<% variant = line_item.variant %>

<%= order_form.fields_for :line_items, line_item do |item_form| %>
  <article class="cart-item">
    <div class="cart-item__image">
      <%= link_to(
        render(ImageComponent.new(
          image: variant.gallery.images.first || variant.product.gallery.images.first,
          size: :small
        )),
        variant.product
      ) %>
    </div>

    <div class="cart-item__info">
      <div class="cart-item-description">
        <%= line_item.variant.product.name %>
        <% if line_item.date.present? && line_item.time_slot.present? %>
<span class="reservation-date-time" style="display: block;">(<%= line_item.date.strftime('%d/%m/%Y') %> de <%= line_item.time_slot %>:00h à <%= line_item.time_slot + 1 %>:00h)</span>
        <% end %>
        <%= line_item_description_text(line_item.description) %>
      </div>
      <%= render(
        'orders/item_info',
        line_item: line_item,
        variant: variant,
        classes: ['cart-item__details']
      ) %>
    </div>

    <div class="cart-item__price-single">
      <%= line_item.single_money.to_html %>
    </div>

    <div class="cart-item__quantity">
      <div class="text-input">
        <%= item_form.text_field :quantity, type: 'number', min: 0 %>
      </div>
    </div>

    <div class="cart-item__price">
      <strong><%= line_item.display_amount.to_html unless line_item.quantity.nil? %></strong>
    </div>

    <div class="cart-item__remove">
      <%= order_form.submit(
        'Remove',
        class: 'delete',
        id: "delete_#{dom_id(line_item)}",
        data: { disable_with: 'Remove' }
      ) %>
    </div>
  </article>
<% end %>
