<%= form_with url: orders_populate_path, method: :post, id: "add-selected-products-to-cart-form" do %>
  <%= hidden_field_tag :product_id, @product.id %>
  <div class="container">
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Heure</th>
            <th>Produit</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @instances.each_with_index do |product_instance, index| %>
            <% purchased_product = PurchasedProduct.find_by(product_instance_id: product_instance.id, purchase_date: Date.current) %>
            <tr>
              <td><%= "#{index}:00" %></td>
              <% if purchased_product.nil? %>
                <td><%= product_instance.name %></td>
                <td>
                  <%= check_box_tag "selected_products[]", product_instance.id, false %>
                  <%= hidden_field_tag "quantities[]", 1 %>
                </td>
              <% else %>
                <td></td>
                <td></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="form-group">
      <%= submit_tag "Ajouter les produits sélectionnés au panier", type: "submit", id: "add-selected-products-to-cart", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
