<div class="container-fluid">
  <% current_month = current_month() %>
  <% date_range = current_month.beginning_of_month..current_month.end_of_month %>

  <!-- Ajouter les boutons de navigation juste au-dessus du tableau du calendrier -->
  <div class="d-flex justify-content-between mb-3">
    <%= link_to 'Previous', prev_month_path, class: 'btn btn-secondary' %>
    <h4 class="mb-0"><%= current_month.strftime("%B %Y") %></h4>
    <%= link_to 'Next', next_month_path, class: 'btn btn-secondary' %>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered custom-calendar mx-auto">
      <thead>
        <tr>
          <% shifted_day_names.each do |day| %>
            <th><%= day %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% dates_by_week = dates_by_weekday(date_range) %>
        <% calendar_rows = empty_weekdays_array %>

        <% date_range.each do |date| %>
          <% adjusted_wday = (date.wday - 1) % 7 %>
          <% calendar_rows[adjusted_wday] << date %>
        <% end %>

        <% max_weeks = calendar_rows.map(&:size).max %>
        <% max_weeks.times do |i| %>
          <tr>
            <% calendar_rows.each do |weekdays| %>
              <% date = weekdays[i] %>
              <td class="<%= date&.today? ? 'bg-primary' : '' %>">
<%= link_to date, day_schedule_product_path(@product, date: date) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
