<div class="container-fluid">
  <% current_month = current_month() %>
  <% date_range = current_month.beginning_of_month..current_month.end_of_month %>

  <h3 class="text-center mb-3">Réservez</h3>

  <!-- Ajouter les boutons de navigation juste au-dessus du tableau du calendrier -->
  <div class="d-flex justify-content-between mb-3">
    <%= link_to 'Previous', prev_month_path, class: 'btn btn-secondary' %>
    <h4 class="mb-0"><%= current_month.strftime("%B") %> <%= current_month.year %></h4>
    <%= link_to 'Next', next_month_path, class: 'btn btn-secondary' %>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered custom-calendar mx-auto">
      <thead class="thead-light">
        <tr>
          <% shifted_day_names.each do |day| %>
            <th><%= day %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% first_day_of_month = current_month.beginning_of_month %>
        <% padding_days = ((first_day_of_month.wday - 1) % 7) %>
        <% padded_date_range = ([nil] * padding_days) + date_range.to_a %>
        <% weeks = padded_date_range.in_groups_of(7) %>
        <% weeks.each do |week| %>
          <tr>
            <% week.each do |date| %>
              <td class="<%= date&.today? ? 'text-white' : '' %>">
                <% if date.present? && date.month == current_month.month %>
                  <% if date.today? || date.future? %>
                    <%= link_to date&.day, day_schedule_product_product_path(product_id: @product.id, selected_date: date), class: "text-decoration-none" %>
                  <% else %>
                    <%= date.day %>
                  <% end %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
